[submodule "addons/Discord Client"]
	path = addons/Discord Client
	url = https://github.com/TheRealEmissions/ts-modular-bot-addon-discord_client
[submodule "addons/Template"]
  path = addons/Template
	url = https://github.com/TheRealEmissions/ts-modular-bot-addon-template
[submodule "src/classes/FileDesign"]
	path = src/classes/FileDesign
	url = https://github.com/TheRealEmissions/ts-modular-bot-file-design
[submodule "src/types"]
	path = src/types
	url = https://github.com/TheRealEmissions/ts-modular-bot-types
[submodule "src/utils/Logger"]
	path = src/utils/Logger
	url = https://github.com/TheRealEmissions/ts-logger
[submodule "addons/Command Handler"]
	path = addons/Command Handler
	url = https://github.com/TheRealEmissions/ts-modular-bot-addon-command_handler
[submodule "addons/Events"]
	path = addons/Events
	url = https://github.com/TheRealEmissions/ts-modular-bot-addon-events
[submodule "addons/Discord Responder"]
  path = addons/Discord Responder
	url = https://github.com/TheRealEmissions/ts-modular-bot-addon-discord_responder
[submodule "addons/General Commands"]
  path = addons/General Commands
	url = https://github.com/TheRealEmissions/discordia-generalcommands
[submodule "addons/Database"]
	path = addons/Database
	url = https://github.com/therealemissions/discordia-database
